/* General Reset and Styles */
* {
    margin: auto;
    padding: auto;
    box-sizing: content-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(pexels-prithiviraj-19212126.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

.date-time {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.video-container {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

video {
    border: 2px solid #333;
    border-radius: 8px;
    width: 100%; /* Make sure the video element stretches to the container's width */
    height: 100%; /* Ensure it takes up the full height of its container */
    object-fit: cover; /* Ensure the video covers the area without distorting */
    transition: transform 0.3s ease;
}


video:hover {
    transform: scale(1.05);
}

.buttons {
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #45a049;
    transform: scale(1.1);
}

.team {
    margin-top: 50px;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    transition: transform 0.3s ease;
}

.profile-container:hover {
    transform: scale(1.02);
}

.profile {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.profile:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile img {
    width: 100%;
    border-radius: 50%;
    height: auto;
}

.profile p {
    margin: 5px 0;
    color: #333;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 80%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}
